.card{
    width: 100%;
    height: auto;
    box-shadow: 1px 1px 50  px black;
    display: grid;
    border-radius: 10px;
}

.titulo{
    grid-template-rows: 1fr;
    text-align: center;
}

.img{
    text-align: center;
    grid-template-rows: 1fr;
}